:root {
    --negro: #0A0A0A;
    --blanco: hsl(0, 0%, 92%);
    --violeta: #8B5CF6;
    --btn: #7C3AED;
    --violetaOscuro: #5B1E9A;
    --color-formulario: #1B1B1B;

    --txtTitulos: "Bebas Neue", sans-serif;
    --txtGeneral: "Merriweather", serif;
}

/** GLOBALES **/

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--txtGeneral);
  font-size: 1.6rem;
  background-color: var(--negro);
  color: var(--blanco);
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


h2, h3, h4 {
  font-family: var(--txtTitulos);
  color: var(--violetaOscuro);
  text-align: center;
}
h1 {
  font-size: 5rem;
  font-family: var(--txtTitulos);
}

h2 {
  font-size: 6rem;
}
h3{
  font-size: 3.5rem;
}
h4 {
  font-size: 2.9rem;
  font-weight: 400;
  color: var(--violeta);
}
h5 {
  font-size: 3rem;
  font-weight: 700;
}
p {
  font-size: 1.7rem;
  font-family: var(--txtGeneral);
}

.contenedor {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}


/** HEADER **/
header {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 0.1rem 4rem;
  backdrop-filter: blur(5px);
}

/* NAV */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* LOGO */
.logo img {
  height: 5rem; 
  filter: invert(31%) sepia(91%) saturate(746%) hue-rotate(223deg) brightness(102%) contrast(101%);
}

/* NAV LINKS */
.menu-link {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
}
.menu-link.active {
  color: var(--violeta);
  font-weight: 400;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.nav-links a {
  font-family: var(--txtTitulos);
  font-size: 2rem;
  text-decoration: none;
  color: var(--blanco);
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--violeta);
}

/* ICONOS SOCIALES */
.social-icons {
  display: flex;
  gap: 1rem;
  justify-content: center; 
  align-items: center;     
}

.social-icons img {
  height: 2.5rem;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.3s;
  filter: invert(31%) sepia(91%) saturate(746%) hue-rotate(223deg) brightness(102%) contrast(101%);
}


.social-icons a {
  text-decoration: none;
}

.social-icons a .cv-download {
  color: var(--blanco);
  font-weight: 100;
  font-family: var(--txtGeneral);
  transition: transform 0.3s;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
}


.social-icons img[alt="LinkedIn"] {
  width: auto;
  height: 3rem;
}


.social-icons a:hover img {
  transform: scale(1.2);
}

.social-icons a:hover span {
  transform: scale(1.2);
  color: var(--violeta);
}


/* HAMBURGUESA */
.hamburger {
  display: none;
  font-size: 2.4rem;
  color: var(--violeta);
  cursor: pointer;
}


/** INICIO **/
.inicio__nombre {
  font-size: 7rem;
  font-family: var(--txtGeneral);
}

.inicio__nombre span {
  font-size: 16rem;
  color: var(--violetaOscuro);
  text-shadow:
    -0.5px -0.5px 0 var(--violeta),
    0.5px -0.5px 0 var(--violeta),
    -0.5px 0.5px 0 var(--violeta),
    0.5px 0.5px 0 var(--violeta);
}
span {
  text-shadow:
    -0.5px -0.5px 0 var(--violeta),
    0.5px -0.5px 0 var(--violeta),
    -0.5px 0.5px 0 var(--violeta),
    0.5px 0.5px 0 var(--violeta);
}

.inicio__parrafo {
  font-size: 5rem;
}

h3 span{
  font-family: var(--txtTitulos);
}
p span{
  color: var(--violetaOscuro);
  
}

.btn-portafolio {
  display: inline-block;
  text-decoration: none;
  color: var(--negro);
  background-color: var(--btn);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 5rem;
}

.btn-portafolio:hover {
  background-color: var(--violeta);
  transform: scale(1.05);
  color: var(--negro);
}

.inicio__img {
  background-image: url(/img/banner.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  position: relative;
}

.inicio__img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.inicio__img > * {
  position: relative;
  z-index: 2;
}

.inicio__img h2,
.inicio__img h3,
.inicio__img p {
  text-shadow: 2px 2px 8px rgba(24, 21, 21, 0.568);
  color: var(--blanco);
}



/** SOBRE MI **/
.sobremi {
  margin-bottom: 12rem;
}

.sobremi__cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.sobremi__foto {
  width: 900px;
  max-width: 400px;
  border-radius: 50%;
  justify-self: center;
}

.sobremi__inf {
  text-align: left;
  line-height: 1.6;
}

/** PORTAFOLIO **/

.portafolio {
  margin-bottom: 12rem;
  
}

.portafolio__cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
}

.project-card {
    background-color: var(--color-formulario);
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 2rem;
}

.project-title {
    font-size: 2rem;
    color: var(--violetaOscuro);
    margin-bottom: 1rem;
    font-family: var(--txtGeneral);
    text-transform: uppercase;
}

.project-description {
    font-size: 1.6rem;
    color: var(--blanco);
    line-height: 1.5;
    text-align: center;
}

.github-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--violeta);
    margin-top: 1.5rem;
    font-family: var(--txtTitulos);
    transition: color 0.3s;
    width: 100%;
    text-align: center;
}

.github-link img {
    width: 2rem;
    height: 2rem;
    filter: invert(31%) sepia(91%) saturate(746%) hue-rotate(223deg) brightness(102%) contrast(101%);
}

.github-link:hover {
    color: var(--violetaOscuro);
}

/** ESTUDIOS **/
.estudios {
  margin-bottom: 12rem;
}

.estudios__cont {
  display: flex;
  justify-content: center;
  gap: 12rem;
  flex-wrap: wrap;
  padding: 2rem;
}


.estudios__columna {
    text-align: left; 
    min-width: 250px;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.estudios__columna h4 {
    margin-bottom: 2rem;
    text-align: left; 
}

.estudios__lista {
    list-style: none;
    margin: 0;
    padding: 0;       
    font-size: 1.7rem;
    line-height: 2.5rem; 
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.estudios__lista li {  
    margin-bottom: 1rem;
    text-align: left; 
    display: inline-block;
    padding: 0 1rem 1rem;
    position: relative;
    transition: color 0.3s;
}


.estudios__lista li::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--violeta);
    transition: width 0.3s ease, left 0.3s ease; 
    transform: translateX(-50%); 
}

.estudios__lista li:hover::after {
    width: 100%; 
}

.estudios__lista li:hover {
    color: var(--violeta); 
}

/** CONTACTO **/

.contacto__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 3rem;
    min-height: 50rem; 
}

.btn-red {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--negro);
  background-color: var(--btn);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  width: 40rem;
  justify-content: center;
}



.btn-red:hover {
  background-color: var(--violeta);
  transform: scale(1.05);
  color: var(--negro);
}

.btn-icon {
  width: auto;
  height: 3rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  filter: brightness(0%) saturate(100%); /* convierte a negro los iconos */
}

/** FOOTER **/
.footer {
  padding: 0.5rem 0;
  text-align: center;
  background-color: var(--color-formulario);
  
  color: var(--blanco);
  padding: 1rem;
}

.footer_p {
  font-size: 1.5rem;
}